/* General Style */
@import url("https://fonts.googleapis.com/css?family=ABeeZee");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

* {
    margin: 0;
    padding: 0;
}


h1 { 
font-family: 'Alegreya Sans', sans-serif;
color: #333;
font-size: 40px;
padding-bottom: 10px;
}
/*h1 sup { color: #ccc; font-size: 12px}*/
h2 {
font-size:28px; }
figure{
    display: block;
    margin-top: .5em;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: 500px;
}
figure img{
    width:100%;
    height:auto;
    z-index:1;
    position:relative;
}
@media (min-width: 768px){
figure{
    margin-right:auto;
    margin-left:auto;
    }
}
.center {
    text-align: center;
}
.strip {
    background: #C74B43;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}


header { padding: 1rem; border-bottom: 1px solid rgba(0,0,0,0.1); margin-bottom: 1rem; font-size: 80%;}
header h1 { font-size: 1em; font-weight: 400; color: #222; margin: 0; }
header nav ul { list-style: none; margin: 0 auto; padding-top: 10px; display: inline-block; }
header nav ul li { display: inline-block; margin-right: 1.5rem; padding-bottom: 0.5rem; }
header nav ul li:last-child { margin-right: 0; }
header a { font-family: 'Alegreya Sans', sans-serif; color: #333;font-size: 22px; border: none; color: gray; text-decoration: none; padding-bottom: 2px;}
header a.active { color: #C74B43; border-bottom: 2px solid #222; }
header a:hover { color: #C74B43; }
h1, h2, h3, h4, h5, h6{font-family: 'Alegreya Sans', sans-serif;}
a.name { font-size: 40px;line-height: 44px;font-weight: 500; color: #222; font-family: 'ABeeZee', cursive; padding-bottom: 15px; }

.intro,
.about {
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
    max-width: 620px;
}

.divider {
    display: block;
    background: #C74B43;
    margin: 60px auto;
    height: 1px;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.text, article {
    max-width: 40rem;
    padding: 1rem;
}
img.avatar {
    border-radius: 100%;
    max-width: 225px;
    width: 100%;
    margin: 0 auto 4rem;
}
img.fullimg {
    display: block;
    width: 100%;
}

p {
    font-family: 'ABeeZee', sans-serif;
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
}

/* Article CSS */
main {
    display: block;
    color: #192529;
    background-color: #fff;
}
.l-blog{margin-right:auto;margin-left:auto;width:90%;max-width:620px}
.posts__post:not(:last-child){border-bottom:1px solid #e8e9e9}
@media (max-width:739px){
    .posts__post:not(:last-child){padding-bottom:18px;margin-bottom:18px}
}
@media (min-width:740px){
    .posts__post:not(:last-child){padding-bottom:30px;margin-bottom:26px}
}
.posts__post:last-child{padding-bottom:54px}
.post__title{
    margin-bottom:5px;
    display:block;
    font-family: 'Alegreya Sans', sans-serif;
    line-height:1.4;
}
@media (max-width:739px){
    .posts__post .post__title{font-size:24px}
}
@media (min-width:740px){
    .posts__post .post__title{font-size:36px}
}
@media (max-width:739px){
    .post .post__title{font-size:24px}
}
@media (min-width:740px){
    .post .post__title{font-size:36px}
}
@media (max-width:739px){
    .post__footer .post__title{font-size:18px}
}
@media (min-width:740px){
    .post__footer .post__title{font-size:24px}
}
a.post__title{
    color:#192529;
    transition-property:color;
    transition-duration:.25s;
    text-decoration: none;
}
a.post__title:focus,a.post__title:hover{
    color:#C74B43;
}

@media (max-width:419px){.post__author,.post__date{display:block}}

.post__footer .post__date,
.posts__post .post__date,
.post .post__date{
    font-size:12px;
    line-height:14px;
    font-weight: 300;
    color: #a3a3a3;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media (max-width:739px){
    .post .post__date{font-size:14px;line-height:1.33}
}
@media (min-width:740px){
    .post .post__date{font-size:20px;line-height:1.25}
}
@media (max-width:419px){
    .post__author{margin-bottom:5px}
}
.post__date{
    font-family: 'ABeeZee', sans-serif;
}
@media (min-width:420px) and (max-width:739px){
    .post__date:before{top:10px}
}
@media (min-width:420px){
    .post .post__date,.posts__post .post__date{display:inline-block;position:relative}
}
.posts__post .post__date{margin-bottom:10px}
@media (max-width:419px){
    .post .post__date{margin-bottom:16px}
}
@media (min-width:420px){
    .post .post__date{margin-bottom:36px}
}
.post__desc{
    font-family: 'ABeeZee', sans-serif;
    margin: 0 0 24px 0;
    font-size:16px;
    line-height:24px;}

.post__main a, .t-body a, .t-link {
    /*box-shadow: inset 0 0 0 0 rgba(253,198,29,.05);*/
    color: #C74B43;
    transition-property: border-bottom-color,box-shadow;
    transition-duration: .25s;
}
.post__main ul{font-size:16px;line-height:24px;font-family: 'ABeeZee', sans-serif;}
.post__main img{margin-top:30px;max-width:100%;border:1px solid #e8e9e9;box-shadow:2px 2px 8px #e8e9e9}
.posts__post img{margin-top:30px;max-width:100%;border:1px solid #e8e9e9;box-shadow:2px 2px 8px #e8e9e9}
.about img{margin-top:30px;max-width:100%;border:1px solid #e8e9e9;box-shadow:2px 2px 8px #e8e9e9}
.post__main iframe{width:100%}
.post__main blockquote{margin-right:auto;margin-left:auto;position:relative;width:81.25%;font-family:'Poiret One',serif;font-size: 18px;font-style:italic;font-weight:800;line-height:1.3;text-align:center}
.post__main h2{margin-bottom:12px;font-size:28px}}
a .tweet{
    text-decoration: none;
}
.tweet {
    margin-top: 18px;
    margin-bottom: 36px;
    display: block;
    width: 80px;
    border: 1px solid #cdcfd0;
    border-radius: 1px;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    color: #192529;
    transition-property: border-color,color,fill;
    transition-duration: .25s;
    text-decoration: none;
}
.tweet svg {
    margin-right: 4px;
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
}

ul.tablelist li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
    justify-content: space-between;
}

.article{
    margin-left: 7em; margin-right: 7em;
}

ol, ul {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-size: 95%;
}
ol li,
ul li{
    padding-bottom: 1em;
}

blockquote{
    padding: 0 30px 0 24px;
    box-shadow: inset 1px 0 0 0 #db4c3f;
    margin: 30px 0 30px -10px;
}
blockquote p{
    font-size: 18px;
    line-height: 32.4px;
    color: #a3a3a3;
    font-weight: 300;
}

.intro a,
.footer a,
.about a{
    color: #C74B43;
    text-decoration: none;
}


/* Code Style */
.highlight {
  white-space: pre; 
  overflow: auto; 
  word-wrap: normal; /* horizontal scrolling */
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  padding: 20px; 
  background: #343642;
  color: #C1C2C3;
}
.highlight .hll { background-color: #ffc; }
.highlight .gd { color: #2e3436; background-color: #0e1416; }
.highlight .gr { color: #eeeeec; background-color: #c00; }
.highlight .gi { color: #babdb6; background-color: #1f2b2d; }
.highlight .go { color: #2c3032; background-color: #2c3032; }
.highlight .kt { color: #e3e7df; }
.highlight .ni { color: #888a85; }
.highlight .c,.highlight .cm,.highlight .c1,.highlight .cs { color: #8D9684; }
.highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ge,
.highlight .gp,.highlight .gs,.highlight .gt,.highlight .ld,.highlight .s,.highlight .nc,.highlight .nd,
.highlight .ne,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .ow,.highlight .w,.highlight .sb,
.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,
.highlight .s1,.highlight .ss,.highlight .bp { color: #C1C2C3; }
.highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,
.highlight .nt { color: #729fcf; }
.highlight .cp,.highlight .gh,.highlight .gu,.highlight .na,.highlight .nf { color: #E9A94B ; }
.highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
.highlight .il { color: #8ae234; }
.highlight .o { color: #989DAA; }
.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color: #fff; }